* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  color:black;

}


.container-fluid{
	
	margin-top: 30px;
	margin-right: 20px;
	margin-left: 20px;

}

.menuitem{
	margin-bottom: 20px;
	background-color: #A9A9A9;
}

.Title{
	font-weight: bold;
	font-size: 1.2em;
}

.navbar-brand p{
	font-weight: bold;
	font-size: 1.6em;
	font-family: 'Oxygen', sans-serif;
	color: black;	

}

.navbar{
	background-color: #A9A9A9;
	border: 1px solid black;
}

.navbar-header{
	vertical-align: middle;

}

.navcontainer{
	margin-top: 15px;
	margin-bottom: 15px;

}

.navbar-header button.navbar-toggle{
 	border: 1px solid black;
}


.navbar-default .navbar-toggle .icon-bar{
	background-color: black;
	border: 1px solid black;
}

.navbar-nav li{
	border: 1px solid black;
}

#nav-list{
	/*width: 100%;*/
	/*text-align: center;*/
	margin-top: 0;
	margin-bottom: 0;
	color: black;
	font-weight: bold;
}

#new-collapsable-nav{
	/*border: 2px solid black;*/
	background-color: #DCDCDC;
	margin-top: 0;
}
